@charset "UTF-8";
.cf:before, .HeroStream:before, .HeroSlide:before, .Stream:before, .Slide:before,
.cf:after,
.HeroStream:after,
.HeroSlide:after,
.Stream:after,
.Slide:after {
  content: " ";
  display: table; }

.cf:after, .HeroStream:after, .HeroSlide:after, .Stream:after, .Slide:after {
  clear: both; }

.NavMenu {
  background-color: #17151d;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 170px; }
  .NavMenu ul {
    padding: 0;
    margin: 0; }
  .NavMenu li {
    border-left: 3px solid transparent; }
    .NavMenu li.active {
      border-left-color: #5f3ffb; }
      .NavMenu li.active a {
        color: white; }
    .NavMenu li:hover {
      background-color: rgba(255, 255, 255, 0.1); }
      .NavMenu li:hover a {
        color: white; }
  .NavMenu a {
    display: block;
    color: #ddd;
    font-weight: 100;
    padding: 0 1em;
    text-decoration: none;
    line-height: 2em;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    -webkit-user-select: none;
    user-select: none; }

.HeroStream {
  margin-bottom: 3em;
  position: relative;
  width: 934px; }

.StreamTitle {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.125em;
  line-height: 1em;
  margin: 0.5em 0; }

.HeroVideo {
  float: left;
  margin-right: 2px; }

.HeroSlide {
  float: left;
  width: 372px; }

.CoverTile {
  width: 184px;
  float: left;
  margin: 0 2px 2px 0;
  position: relative; }
  .CoverTile img {
    max-width: 100%;
    height: auto;
    display: block; }

.WatchingLabel {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.6em;
  letter-spacing: 0.7px;
  background-color: #f80e5d;
  color: white;
  padding: 3px 6px;
  text-transform: uppercase; }

.DurationLabel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6em;
  letter-spacing: 0.7px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px 6px;
  text-transform: uppercase; }

.CoverOverlay {
  padding-top: 20px;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  width: 100%;
  bottom: 0; }
  .CoverOverlay span {
    padding: 0 0 2px 6px;
    font-size: 0.625em;
    color: #ccc; }
  .CoverOverlay p {
    padding: 2px 6px 4px;
    color: white;
    font-size: 0.78125em;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: black 0px 1px 0px;
    overflow: hidden; }

.HeroNavButtonContainer {
  position: absolute;
  bottom: -38px;
  right: 2px;
  width: 82px; }
  .HeroNavButtonContainer span {
    background-color: rgba(80, 80, 80, 0.5);
    bottom: 0;
    margin-bottom: 0; }
    .HeroNavButtonContainer span:hover {
      background-color: rgba(80, 80, 80, 0.9); }
    .HeroNavButtonContainer span:active {
      background-color: rgba(80, 80, 80, 0.8); }

.Stream {
  margin-bottom: 3em;
  width: 1162.5px;
  overflow: hidden;
  position: relative; }

.Slide {
  width: 1302px; }

.NavButton {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 56.925px;
  margin-bottom: -20px;
  background-color: rgba(17, 17, 17, 0.5);
  border: none;
  color: white;
  transition: background 0.25s ease-in-out;
  font-size: 3em;
  font-weight: 100;
  line-height: 0.7em;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  box-sizing: border-box; }
  .NavButton:hover {
    background-color: rgba(17, 17, 17, 0.9); }
  .NavButton.Left {
    left: 0; }
    .NavButton.Left:after {
      content: '‹'; }
  .NavButton.Right {
    right: 0; }
    .NavButton.Right:after {
      content: '›'; }

body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.PageStream {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 170px);
  background-color: #1d1d24;
  padding-left: 1em;
  box-sizing: border-box;
  padding-bottom: 3em; }

/*# sourceMappingURL=page_stream.css.map */
