<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="./stylesheets/normalize.css">
	<link rel="stylesheet" href="./stylesheets/stream.css">
</head>
<body>
	<div class="NavMenu">
		<ul>
			<li class="active"><a href="#">Stream</a></li>
			<li><a href="#">Map Search</a></li>
		</ul>
	</div>

	<div class="PageStream">
		<div class="HeroStream">
			<div class="HeroVideo">
				<img src="./hero_video.png" alt="">
			</div>
			<div class="HeroSlide">
				<div class="CoverTile active"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
			</div>
			<div class="HeroNavButtonContainer">
				<button>Prev</button>
				<button>Next</button>
			</div>
		</div>

		<div class="Stream">
			<div class="Slide">
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
			</div>
			<button class="NavButton">Prev</button>
			<button class="NavButton">Next</button>
		</div>

		<div class="Stream">
			<div class="Slide">
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
				<div class="CoverTile"><img src="./cover_tile.png"></div>
			</div>
			<button class="NavButton">Prev</button>
			<button class="NavButton">Next</button>
		</div>
	</div>
</body>	
</html>