<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./stylesheets/page_stream.css">
</head>
<body>
    <div class="nav-menu">
        <ul>
            <li class="active"><a href="#">Stream</a></li>
            <li><a href="#">Map Search</a></li>
        </ul>
    </div>

    <div class="PageStream">
        <div class="HeroStream">
            <h2 class="StreamTitle">Now Watching</h2>
            <div class="HeroVideo">
                <img src="./hero_video.png" alt="">
            </div>
            <div class="HeroSlide">
                <a href="#">
                    <div class="CoverTile active">
                        <label class="WatchingLabel">Now Watching</label>
                        <label class="DurationLabel">1:19</label>
                        <div class="CoverOverlay">
                            <span>1,300 views</span>
                            <p>Thoughts You Have While Thoughts You Have While</p>
                        </div>
                        <img src="./cover_tile.jpg">
                    </div>
                </a>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
            </div>
            <div class="HeroNavButtonContainer">
                <span class="NavButton Left"></span>
                <span class="NavButton Right"></span>
            </div>
        </div>

        <div class="Stream">
            <h2 class="StreamTitle">Community</h2>
            <div class="Slide">
                <a href="#">
                    <div class="CoverTile active">
                        <label class="WatchingLabel">Now Watching</label>
                        <label class="DurationLabel">1:19</label>
                        <div class="CoverOverlay">
                            <span>1,300 views</span>
                            <p>Thoughts You Have While Thoughts You Have While</p>
                        </div>
                        <img src="./cover_tile.jpg">
                    </div>
                </a>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.jpg"></div>
            </div>
            <span class="NavButton Left"></span>
            <span class="NavButton Right"></span>
        </div>

        <div class="Stream">
            <h2 class="StreamTitle">Awesome Animals</h2>
            <div class="Slide">
                <a href="#">
                    <div class="CoverTile active">
                        <label class="WatchingLabel">Now Watching</label>
                        <label class="DurationLabel">1:19</label>
                        <div class="CoverOverlay">
                            <span>1,300 views</span>
                            <p>Thoughts You Have While Thoughts You Have While</p>
                        </div>
                        <img src="./cover_tile.jpg">
                    </div>
                </a>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
                <div class="CoverTile"><img src="./cover_tile.png"></div>
            </div>
            <span class="NavButton Left"></span>
            <span class="NavButton Right"></span>
        </div>
    </div>
</body> 
</html>