.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Bd-t {
    border: 1px solid transparent;
    box-sizing: border-box;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-enter {
    position: absolute;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
}

.carousel-enter.carousel-enter-active {
    transform: translateX(0);
}

.carousel-leave {
    position: absolute;
    transform: translateX(0);
    transition: transform .4s ease-in-out;
}

.carousel-leave.carousel-leave-active {
    transform: translateX(-100%);
}

.carousel-reverse-enter {
    position: absolute;
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
}

.carousel-reverse-enter.carousel-reverse-enter-active {
    transform: translateX(0);
}

.carousel-reverse-leave {
    position: absolute;
    transform: translateX(0);
    transition: transform .4s ease-in-out;
}

.carousel-reverse-leave.carousel-reverse-leave-active {
    transform: translateX(100%);
}