$COLOR_BG: #17151d;
$COLOR_BG_2: #1d1d24;
$COLOR_HIGHLIGHT: #5f3ffb;
$COLOR_LINK: #ddd;
$COLOR_LINK_ACTIVE: white;

$COVER_WIDTH: 184px;
$COVER_HEIGHT: $COVER_WIDTH / 16 * 9;
$GUTTER: 2px;
$NAV_BUTTON_WIDTH: 40px;
$NAV_MENU_WIDTH: 170px;
